---
layout: default
---

{% include menu-header.html %}

<h1>{{ page.title }}</h1>

{% comment %} Check the type of archive {% endcomment %}
{%- if page.type == 'categories' -%}
  {%- assign tags = site.categories -%}
{%- elsif page.type == 'tags' -%}
  {%- assign tags = site.tags -%}
{%- else -%}
  {%- assign tags = none -%}
{%- endif -%}

{% comment %} Calculate the max count of tags {% endcomment %}
{%- assign max_count = 0 -%}
{%- for tag in tags -%}
  {%- assign posts = tag[1] -%}
  {%- if posts.size > max_count -%}
    {%- assign max_count = posts.size -%}
  {%- endif -%}
{%- endfor -%}

<div class="tags-wrapper">
  <ul class="tags">
    {%- for i in (1..max_count) reversed -%}
      {%- for tag in tags -%}
        {%- if tag[0] contains ',' -%}
        {%- else -%}
          {%- assign tag_name = tag[0] -%}
          {%- assign slugified_tag_name = tag_name | slugify -%}
          {%- assign posts = tag[1] -%}
          {%- if posts.size == i -%}
            <li>
              {%- capture link -%}{{ page.permalink }}#{{ slugified_tag_name }}{%- endcapture -%}
              <a class="tag" href="{{ link | relative_url }}">
                <span>
                  {%- if page.type == 'tags' -%}
                    {{ slugified_tag_name }}
                  {%- else -%}
                    {{ tag_name }}
                  {%- endif -%}
                </span>
                <span class="tag-count">{{ posts.size }}</span>
              </a>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>
</div>

{% comment %} Show posts by tag {% endcomment %}
{%- for i in (1..max_count) reversed -%}
  {%- for tag in tags -%}
    {%- if tag[0] contains ',' -%}
    {%- else -%}
      {%- assign tag_name = tag[0] -%}
      {%- assign slugified_tag_name = tag_name | slugify -%}
      {%- assign posts = tag[1] -%}
      {%- if posts.size == i -%}
        <h2 id="{{ slugified_tag_name }}">
          {%- if page.type == 'tags' -%}
            {{ slugified_tag_name }}
          {%- else -%}
            {{ tag_name }}
          {%- endif -%}
        </h2>
        <ul class="post-list-by-tag">
          {%- for post in posts -%}
            <li>
              <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
          {%- endfor -%}
        </ul>
        <a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
<div style="margin:50px;"></div>
<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
