---
layout: default
---

{% include menu-header.html %}

<h1>{{ page.title }}</h1>

{%- assign tags = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}

<div class="tags-wrapper">
  <ul class="tags">
    {%- for tag in tags -%}
      <li>
        {%- capture link -%}{{ page.permalink }}#{{ tag.name }}{%- endcapture -%}
        <a class="tag" href="{{ link | relative_url }}">
            <span>{{ tag.name }}</span>
            <span class="tag-count">{{ tag.size }}</span>
        </a> 
      </li>
    {%- endfor -%}
  </ul>
</div>

{% comment %} Show posts by tag {% endcomment %}
{%- for tag in tags -%}
  <h2 id="{{ tag.name }}">
    {{ tag.name }}
  </h2>
  <ul class="post-list-by-tag">
    {%- assign posts = tag.items -%}
    {%- for post in posts -%}
      <li>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>
{%- endfor -%}
<div style="margin:50px;"></div>
<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
